<div class = "column gap-1 wrapper">
    <img [src] = "product.image" alt = "product image" class = "product-image">
    <h2 class="title">{{product.name | truncateName : 16 : "..."}}</h2>

    <div class="row gap-05">
        <span class="price-label">Price</span>
        <span class="price">{{product.price | price}}</span>
    </div>

    <p-rating [(ngModel)]="product.rating" [readonly]="true" [cancel]="false" />

    <div class="row gap-05" >
        <button
            type="button"
            icon="pi pi-pencil"
            pButton
            label="Edit"
            (click)="editProduct()"
        ></button>
        <button
            type="button"
            icon="pi pi-trash"
            pButton
            label="Delete"
            class="p-button-danger"
            (click)="deleteProduct()"
            #deleteButton
        ></button>
    </div>

</div>

<p-confirmPopup></p-confirmPopup>